@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Bedfort&family=Roboto&display=swap');

html {
  scroll-behavior: smooth;
}

.hero {
  background: url(travel_pictures/tree_desktop.jpg) center / cover;
  font-family: 'Roboto', sans-serif;
}

.second_part {
  background: url(travel_pictures/canoesbeauty.jpg) center / cover;
  height: 100%;
  width: 100%;
}

.italy {
  background: url(travel_pictures/italy.jpg) center / cover;
  height: 100%;
  width: 100%;
}

@media (max-width: 1024px) {
  .hero {
    background: url(travel_pictures/tree_desktop.jpg) center / cover;
  }
}

@media (max-width: 768px) {
  .hero {
    background: url(travel_pictures/tree.png) center / cover;
    background-repeat: no-repeat;
  }
}

.center,
.center-column,
.top,
.right,
.bottom,
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column {
  flex-direction: column;
}

.top {
  align-items: flex-start;
}
.right {
  justify-content: flex-end;
}
.bottom {
  align-items: flex-end;
}
.left {
  justify-content: flex-start;
}

.single-spaced,
.single-spaced * {
  line-height: 1;
}

@media (max-width: 1024px) {
  .desktop {
    display: none;
  }
}

#company_logo {
  font-family: 'Mr Bedfort', cursive;
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 300;
}

#rsrt_spa {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  position: absolute;
  top: 50px;
}

#navbar_center:hover {
  color: black !important;
}

#navbar_right:hover {
  color: black !important;
}

.white-border {
  position: absolute;
  top: 625px;
  right: 0px;
  border-width: 3px 0px 3px 3px;
  border-style: solid;
  border-color: white;
  border-radius: 1%;
  height: 300px;
  width: 200px;
}

.text-in-border {
  padding: 20px;
  width: 710px;
  position: relative;
  background: rgb(
    204,
    204,
    204
  ); /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.5);
}
